@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

.LoginPage {
  width: 80% !important;
  height: 98vh;
  margin: auto auto;
  padding-top: 10px;

  font-family: "IBM Plex Sans KR", sans-serif;
}

.LoginPage label {
  font-family: "IBM Plex Sans KR" !important;
}

.LoginPage input {
  font-family: "IBM Plex Sans KR" !important;
}

.LoginPage span {
  font-family: "IBM Plex Sans KR" !important;
}

.LoginPage .login_banner {
  width: 100%;
  text-align: center;
}

.LoginPage .signin_form {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginPage .signin_form_control {
  width: 40%;
}

.LoginPage .signin_form_function {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.LoginPage .login_btn_wrapper {
  width: 40%;
  margin-top: 10px;
}

.LoginPage .login_btn {
  width: 100%;
}

.LoginPage .link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.LoginPage .sns_login_btn {
  margin-top: 5px;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.LoginPage .sns_login_btn img {
  cursor: pointer;
}

@media (max-width: 900px) {
  .signin_form_control {
    width: 100% !important;
  }

  .LoginPage .signin_form_function {
    width: 100%;
  }

  .LoginPage .login_btn_wrapper {
    width: 100%;
  }

  .LoginPage .sns_login_btn {
    width: 100%;
  }
}
