@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

.Header .css-hyum1k-MuiToolbar-root {
  height: 100%;
}
.Header .css-hyum1k-MuiToolbar-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.Header .css-19kzrtu {
  padding: 0 !important;
  width: 0;
}

.Header .css-130f8nx {
  margin-right: 5px;
}

.Header {
  height: 64px !important;
  font-family: "IBM Plex Sans KR", sans-serif !important;
}

.Header span {
  font-family: "IBM Plex Sans KR", sans-serif !important;
}

.Header button {
  font-family: "IBM Plex Sans KR", sans-serif !important;
  font-size: 20px;
}

.Header .text_white {
  color: white;
}

.Header .text_bold {
  font-weight: bold;
}

.Header_drawer span {
  font-family: "IBM Plex Sans KR", sans-serif !important;
  font-weight: bold;
}
