@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

.UserInfoReadModal span {
  font-family: "IBM Plex Sans KR" !important;
}

.UserInfoReadModal div {
  font-family: "IBM Plex Sans KR" !important;
}

.UserInfoReadModal .grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.UserInfoReadModal .menu {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 20%;
  word-break: keep-all;
  display: block;
  text-align: center;
  color: #1976d2;
}

@media (max-width: 600px) {
  .UserInfoReadModal span {
    font-size: 16px !important;
  }
}
