.Homepage {
  width: 1200px;
  display: flex;
  flex-direction: column !important;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .Homepage {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .Homepage {
    width: 95% !important;
  }
}
