body {
    overflow: hidden;
}





/* 배경 */

.cliff1 {
    width: 100%; 
    position: absolute; 
    z-index: 3
}

.cliff2 {
    width: 100%; 
    position: absolute; 
    z-index: 2;
}

.background {
    width: 100%; 
    position: absolute;
}





/* 햇빛 */

.sun1 {
    animation: sun 700ms linear infinite alternate;
    width: 100%; 
    position: absolute; 
    z-index: 1;
}

.sun2 {
    animation: sun 1300ms linear infinite alternate;
    width: 100%; 
    position: absolute; 
    z-index: 1;
}

.sun3 {
    animation: sun 1200ms linear infinite alternate;
    width: 100%; 
    position: absolute; 
    z-index: 1;
}

.sun4 {
    animation: sun 1700ms linear infinite alternate;
    width: 100%; 
    position: absolute; 
    z-index: 1;
}

.sun5 {
    animation: sun 1000ms linear infinite alternate;
    width: 100%; 
    position: absolute; 
    z-index: 1;
}

@keyframes sun {
    from {
        opacity: 100%;
    }

    to{
        opacity: 10%;
    }
}






/* 물고기 */

.fish {
    animation: fish 17000ms linear infinite;
    width: 100%; 
    position: absolute; 
    z-index: 2;
}

@keyframes fish {
    from {
        right: -30%;
    }
    
    to {
        right: 50%;
    }
}

.trashfish {
    animation: trashfish 10000ms linear infinite;
    width: 100%; 
    position: absolute; 
    z-index: 2;
}

@keyframes trashfish{
    from {
        left: -20%;
    }

    to {
        left: 50%;
    }
}

.whale {
    animation: whale 40000ms linear infinite;
    width: 100%; 
    position: absolute; 
    z-index: 2;
}

@keyframes whale {
    from {
        left: -45%;
    }

    to {
        left: 50%;
    }
}




/* 방울 */
.bubble1 {
    animation: bubble 15000ms linear infinite;
    width: 100%; 
    position: absolute; 
    z-index: 12;
}

.bubble2 {
    animation: bubble 10000ms linear infinite;
    width: 100%; 
    position: absolute; 
    z-index: 12;
}

.bubble3 {
    animation: bubble 20000ms linear infinite;
    width: 100%; 
    position: absolute; 
    z-index: 12;
}

@keyframes bubble {
    from {
        margin-top: 10%
    }

    to {
        margin-top: -50%;
    }
}






/* 다양 식물군 */

.yellow {
    animation: moving 1000ms linear infinite alternate;
    transform-origin: 100% 0%;
    width: 100%; 
    position: absolute; 
    z-index: 4;
}

.red {
    animation: moving 2000ms linear infinite alternate;
    transform-origin: 100% 0%;
    width: 100%; 
    position: absolute; 
    z-index: 5;
}

@keyframes moving {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-1deg);
    }
}

.blueleaf1 {
    animation: moving 1000ms linear infinite alternate;
    transform-origin: 100% 100%;
    width: 100%; 
    position: absolute; 
    z-index: 9;
}

.blueleaf2 {
    animation: moving 1500ms linear infinite alternate;
    transform-origin: 100% 0%;
    width: 100%; 
    position: absolute; 
    z-index: 8;
}

.blueleaf3 {
    animation: moving 800ms linear infinite alternate;
    width: 100%; 
    position: absolute; 
    z-index: 7;
}

.cucumber {
    animation: moving 1000ms linear infinite alternate; 
    width: 100%; 
    position: absolute; 
    z-index: 10;
}

.rainbow {
    animation: moving 1500ms linear infinite alternate;
    width: 100%; 
    position: absolute; 
    z-index: 6;
}

.cactus {
    animation: moving 1300ms linear infinite alternate;
    width: 100%; 
    position: absolute; 
    z-index: 12;
}

.pink {
    width: 100%; 
    position: absolute; 
    z-index: 11;
}