.QnaListCompMobile {
  width: 100%;
}

.QnaListCompMobile .data_row {
  border-bottom: 1px solid #ad1457;
}

.QnaListCompMobile span {
  font-family: "IBM Plex Sans KR" !important;
}

.QnaListCompMobile .text_constrained {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}

.QnaListCompMobile .custom_font {
  font-weight: bold;
  color: #ad1457;
}

.QnaListCompMobile .custom_font_black {
  font-weight: bold;
  color: black;
}

.QnaListCompMobile .custom_font_gray {
  font-weight: bold;
  color: gray;
}

.QnaListCompMobile .completed_animation {
  animation: completed 1s infinite alternate linear;
  display: block;
}

@keyframes completed {
  0% {
    opacity: 0.7;
    transform: translateY(1px);
  }

  100% {
    opacity: 1;
    transform: translateY(-1px);
  }
}
