@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

.SignUpPage {
  margin: 30px auto;
  height: 100vh !important;
  width: 500px !important;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.SignUpPage label {
  font-family: "IBM Plex Sans KR" !important;
}

.SignUpPage input {
  font-family: "IBM Plex Sans KR" !important;
}

.SignUpPage .banner {
  width: 100%;
}

.SignUpPage .sns_signup_btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.SignUpPage .divide {
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(237, 237, 237);
}

.SignUpPage .cancleIcon_box {
  position: absolute;
  right: -3%;
  top: -13%;
  cursor: pointer;
}

.SignUpPage .disabled_button {
  background-color: rgb(247, 248, 250) !important;
}

@media (max-width: 750px) {
  .SignUpPage {
    width: 90vw !important;
  }
}
