.UserInfoComp {
  width: 1000px !important;
  margin: 0 auto;
  margin-top: 10px !important;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column !important;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
  padding: 50px;
}

.UserInfoComp input {
  font-family: "IBM Plex Sans KR" !important;
}
.UserInfoComp span {
  word-break: keep-all;
  color: #ad1457;
  font-weight: bold;
}

.UserInfoComp .total_userinfo_input_box {
  width: 500px !important;
}

.UserInfoComp .input_row_box {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.UserInfoComp .input_name_box {
  width: 100px;
}

.UserInfoComp .input_box {
  width: 400px;
  display: flex;
  align-items: center;
}

.UserInfoComp .modify_btn {
  margin: 20px auto;
  width: 70% !important;
  margin-top: 50px;
}

@media (max-width: 1100px) {
  .UserInfoComp {
    width: 100% !important;
    padding: 50px 10px;
  }
}

@media (max-width: 600px) {
  .UserInfoComp .total_userinfo_input_box {
    width: 100% !important;
  }

  .UserInfoComp .modify_btn {
    width: 100% !important;
  }
}
