.JungleIntro {
  /* font-family: "Single Day", cursive; */
  font-family: 'IBM Plex Sans KR', sans-serif;
}

/* 텍스트 위치 */
.JungleIntro .text_location {
  position: absolute;
  left: 50vh;
  top: 20vh;
  width: 50vw;
  height: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  font-weight: bold;
  z-index: 1000;
  border: 5px solid #025706;
  background-color: rgb(250, 249, 215);
  animation-duration: 3s;
}

.jungle-banner {
  position: absolute;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  margin-top: -71vh;
  left: -26vw;
}

.animate__animated.animate__backInDown {
  --animate-duration: 2s;
}

.tory-intro {
  position: absolute;
  z-index: 10;
  left: 60vw;
  top: 35vh;
}

.tory-disappear{
  display:none;
  opacity: 0%;
}
