@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

body {
  overflow: hidden;
}

.jungle {
  position: absolute;
  width: 100%;
  height: 100vh;
  font-family: "Single Day", cursive;
}

/* 고래 */
.jungle .hide_monky_box {
  height: 100px;
  width: 400px;
  position: absolute;
  left: 39%;
  top: 37%;
  z-index: 1;
}

/* 텍스트 박스 */
.jungle .text_box {
  font-size: 60px;
  margin-top: 10px;
  border: 15px solid green;
  border-radius: 50px;
  padding: 15px;
  background-color: lightgoldenrodyellow;
}
/* 텍스트 위치 */
.jungle .text_location {
  position: absolute;
  left: -50%;
  top: 32%;
  width: 850px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  z-index: -1;
}

/* 등장 애니메이션 */
.appear {
  animation: appear 3s ease-in-out;
}

.initial_hide {
  animation: initial_hide 3s ease-in-out;
}

/* 말하기 표시 애니메이션 */
.speech {
  animation: speech infinite 1s linear alternate;
}

.appear_text {
  animation: appear_text 1s linear alternate;
}

.disappear {
  animation: disappear 1.5s linear;
}

/* 텍스트 떨어지는 애니메이션 */
@keyframes appear_text {
  0% {
    transform: scale(0) translateY(-500px);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* 퇴장애니메이션 */
@keyframes disappear {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(-300px);
    opacity: 0;
  }
}

/* 등장애니메이션 */
@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* 초기에 숨는 애니메이션 */
@keyframes initial_hide {
  0% {
    transform: translateX(-300px) translateY(-400px);

    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes speech {
  0% {
    scale: 1;
    opacity: 0.8;
  }

  100% {
    scale: 1.5;
    opacity: 1;
  }
}

/* 배경 */

.background {
  position: absolute;
  width: 100%;
  z-index: -30;
}

.palmTree {
  position: absolute;
  z-index: -29;
  width: 100%;
}

/* 움직이는 배경 */

.bird {
  animation: bird 4000ms linear infinite;
  position: absolute;
  width: 100%;
  z-index: -25;
}

@keyframes bird {
  from {
    right: -30%;
  }

  to {
    right: 30%;
  }
}

.secondCeil {
  animation: jungleMove 2400ms linear infinite alternate;
  position: absolute;
  z-index: -2;
  width: 115%;
}

.firstCeil {
  animation: jungleMove 1800ms linear infinite alternate;
  position: absolute;
  z-index: -1;
  width: 115%;
}

@keyframes jungleMove {
  from {
    right: -1%;
  }

  to {
    right: 1%;
  }
}

/* 움직이지 않는 배경 */

.onlyTree {
  position: absolute;
  width: 100%;
  z-index: -10;
}

.secondHill {
  position: absolute;
  z-index: -4;
  width: 100%;
}

.firstHill {
  position: absolute;
  z-index: -2;
  width: 100%;
}

/* 햇빛 */
.sun1 {
  position: absolute;
  z-index: -7;
  width: 100%;
}

.sun2 {
  position: absolute;
  z-index: -7;
  width: 100%;
}

.sun3 {
  position: absolute;
  z-index: -7;
  width: 100%;
}
