.minimap {
  position: absolute;
  z-index: 999;
  width: 5vw;
  /* height: 100vh; */
  left: 93vw;
  margin-top: 91vh;
}

.UniverseIntro {
  /* font-family: "Single Day", cursive; */
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.UniverseIntro .universe_intro_text_box {
  position: absolute;
  /* background-color: snow; */
  color: white;
  border-radius: 100px;
  border: 10px solid plum;
  left: 60%;
  top: 55%;
  width: 600px;
  padding: 30px;
  padding-left: 60px;
  padding-right: 0px;
  z-index: 1;
  font-weight: bold;
  font-size: 40px;
  text-align: left;
}

.UniverseIntro .universe_intro_text_box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 41px solid transparent;
  border-right-color: plum;
  border-left: 0;
  border-bottom: 0;
  margin-top: -20.5px;
  margin-left: -41px;
  z-index: 1;
}

.UniverseIntro .going_universe_text_box {
  position: absolute;
  background-color: snow;
  border-radius: 0.4em;
  border: 10px solid plum;
  left: 31%;
  top: 14%;
  width: 700px;
  padding: 30px;
  z-index: 1;
  font-weight: bold;
  font-size: 80px;
}

.UniverseIntro .mt-custom {
  margin-top: 5px;
}

.text_opacity_chage {
  animation: text_opacity_chage 1s infinite linear alternate;
}

@keyframes text_opacity_chage {
  0% {
    opacity: 0.5;
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translateY(3px);
  }
}

.universe_disappear {
  animation: universe_disappear 1s ease-in;
}

@keyframes universe_disappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}



.universe-intro-text {
  animation: universe-intro-text 1s alternate infinite; 

  width: 80vh;
  height: 40vh;
  position: absolute;
  z-index: 2;
  left: 30vw;
  top: 35vh;
  opacity: 100%;
  color: white;
  font-size: 600%;
}

@keyframes universe-intro-text {
  0% {
    opacity: 30%;
  }

  100% {
    opacity: 100%;
  }
}